@media only screen and (max-width: 376px) and (max-height: 668px) {
    .input-group {
        position: absolute;
        top: 40%;
        left: 23%;
    }
    .password-group {
        position: absolute;
        top: 50%;
        left: 23%;
    }
    .button-login {
        left: 37%;
    }
    .username-group {
        position: absolute;
        left: 23%;
    }
    .pword {
        left: 23%;
    }
    .email-group {
        left: 23%;
    }
    .code-group {
        left: 23%;
    }
    .bt-register {
        position: absolute;
        top: 74%;
        right: 38%;
    }
    .log {
        left: 37%;
    }
    .btn-reset {
        position: relative;
        top: 60%;
        right: 21%;
    }
}
@media only screen and (max-width: 415px) and (max-height: 897px) {
    .input-group {
        position: absolute;
        top: 40%;
        left: 23%;
    }
    .password-group {
        position: absolute;
        top: 50%;
        left: 23%;
    }
    .button-login {
        top: 58%;
        left: 37%;
    }
    .username-group {
        position: absolute;
        top: 32%;
        left: 24%;
    }
    .pword {
        top: 48%;
        left: 24%;
    }
    .email-group {
        top: 40%;
        left: 24%;
    }
    .code-group {
        top: 56%;
        left: 24%;
    }
    .bt-register {
        position: absolute;
        top: 68.5%;
        right: 40%;
        font-size: 18px;
    }
    .log {
        position: absolute;
        top: 63.5%;
        left: 35%;
    }
    .btn-reset {
        position: absolute;
        top: 57%;
        left: 37%;
    }
    .forgot {
        position: absolute;
        top: 45%;
    }
}
@media only screen and (max-width: 360px) and (max-height: 740px) {
    .bt-register {
        position: absolute;
        top: 71%;
        right: 32%;
        font-size: 18px;
    }
    .log {
        position: absolute;
        top: 65%;
        right: 32%;
    }
    .bt-login {
        position: absolute;
        top: 71%;
        right: 35%;
    }
    .noacc {
        font-size: 12px;
    }
    .pass-forgot {
        font-size: 12px;
    }
}

