@media screen and (max-width: 376px) {
    .pass-forgot {
        position: absolute;
        top: 480px;
        left: 83px;
    }
    .button-login {
        position: absolute;
        top: 430px;
        left: 220px;
    }
    .button-register {
        position: absolute;
        top: 430px;
        left: 110px;
    } 
    .log {
        position: absolute;
        top: 460px;
        left: 220px;
    }
    .reg {
        position: absolute;
        top: 460px;
        left: 120px;
    }
    .input-group, .password-group, .username-group, .pword ,.email-group, .code-group {
        position: absolute;
        left: 100px;
    }
    .emailbutton {
        position: absolute;
        left: 124px;
    }    
}