@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #242329;
    display: grid;
    place-items: center;
    height: 100vh;
    color: #fff;
}


.input-group {
    position: fixed;
    top: 38%;
    left: 43%;
}

.input {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: #fff;
    background-color: transparent;
    outline: 2px solid #fff;
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transform-origin: left;
    transition: transform .25s;
    cursor: pointer;
}


.input:focus~.input-label,
.input:valid~.input-label {
    transform: translate(0, -20px) scale(.8);
    color: #d1c5fc;
    border: none;

}


.input:is(:focus, :valid) {
    outline-color: #d1c5fc;
    flex: wrap;
    display: flex;
    flex-wrap: wrap;  

}

.password-group {
    position: absolute;
    top: 50%;
    left: 43%;
    flex: wrap;
    display: flex;
    flex-wrap: wrap; 
}


button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: #fff;
    background-color: #6e5da9;
    cursor: pointer;
    position: relative;
    top: 68%;
    left: 48%;
}

.button-login {
    position: absolute;
    top: 60%;
    left: 47%;
}.button-login:hover {
    background-color: #4b4170;
}

.pass-forgot {
    position: relative;
    top: 340px;
    font-size: 0.9rem;
    text-align: center;
}

.noacc {
    position: relative;
    top: 290px;
    font-size: 0.9rem;
}

.username-group {
    position: absolute;
    top: 28%;
    left: 43.5%;
}

.email-group {
    position: absolute;
    top: 38%;
    left: 43.5%;
}

.pword {
    position: absolute;
    top: 48%;
    left: 43.5%;
}


.code-group {
    position: absolute;
    top: 58%;
    left: 43.5%;
}


.reg {
    position: absolute;
    top: 67%;
    left: 44%;
}.reg:hover {
    background-color: #4b4170;
}

.log {
    position: absolute;
    top: 67%;
    left: 51%;
} .log:hover {
    background-color: #4b4170;
}

.forgor {
   position: absolute;
    top: 72%;
    left: 45.2%;
    padding: 1px;
} .forgor:hover {
    background-color: #4b4170;
}

.forgot {
    position: absolute;
    top: 45%;
    left: 42.7%;
}

.emailbutton {
    position: absolute;
    top: 62%;
    left: 44.9%;
}.emailbutton:hover {
    background-color: #4b4170;
}

.bt-login {
    position: relative;
    right: 5px;
    top: 280px;
    font-size: 1rem;
}  

.card {
    width: 400px;
    height: 400px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 20px 40px 40px;
    background: rgb(95, 94, 101);
    border-bottom: 4px solid rgb(87, 7, 236);
    border-radius: 20px;
    transition: all 800ms ease-in-out;
}.card:hover {
    border-color: #ff99ff;
} 

