@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #242329;
    display: grid;
    place-items: center;
    height: 100vh;
}

.card {
    min-width: 10cm;
    height: 10cm;
    display: grid;
    place-items: center;
    border-radius: 22px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.145);
}

.input-group{
    position: relative;
}
.input{
    font: inherit;
    color: #fff;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    padding-block: 5px;
    top: 2cm;
    cursor: pointer;
}
.input::placeholder {
    color: inherit;
    transition: opacity 250ms;
}
.input:focus::placeholder {
    opacity: 0;
}
.border-bottom{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #bb93fc;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 500ms;
}
.input:focus + .border-bottom,
.input:valid + .border-bottom {
    transform: scaleX(1);
}

.register-text {
    color: #fff;
    font-size: 0.8rem;
    position: relative;
}.register-text:hover {
    color: #bb93fc;
}

input:is(::after, :focus) {
    border-bottom: 2px solid #bb93fc;
    cursor: default;
}

.pos {
    position: relative;
    top: 1.8cm;
}

.btn {
    width: 5rem;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    background-color: #885e70;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 500ms;
}

.btn-login {
    position: relative;
    top: 1.8cm;
}
.btn-login:hover {
    background-color: #885e707b;
}

a {
    text-decoration: none;
    color: white;
}

.nopwd:hover {
    color: #bb93fc;
}

.href-nopwd {
    position: relative;
    top: -0.2cm;
    font-size: 12px;
}

.bi-eye-slash {
    position: absolute;
    left: 170px;
    top: 6px;
    color: white;
    cursor: default;
}


@media screen and (max-width: 320px) {
    .card {
        min-width: 8cm;
        height: 10cm;
    }
}